.error {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;

    &__message {
        font-size: 30px;
        color: var(--main-color);
        animation: ping 2s linear infinite;
    }
}

@keyframes ping {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}